
* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }

  body {
    font-family: 'Poppins', sans-serif;
    user-select: none;
  }

  /* nav styles */

  .nav {
    display: flex;
    height: 4.5em;
    align-items: center;
    justify-content: space-between;
    background-color: #A9C7A8;
    
  }

  .nav__link {
    left: 18px;
    width: 100%;
    font-size: 1.2em;
    position: fixed;
    background-color: #A9C7A8;
  }
  
  .nav__link a:hover {
    transition: 10ms;
    color: white;
    background-color: #7F9F7E;
  }
  
  .logo {
    font-size: 2em;
    color: rgb(0, 0, 0);
    padding-left: 60px;
    padding-top: 0.4em;
  }
  
  .hide {
    display: none;
  }

  .selected {
    color: white;
    background-color: #7F9F7E;
  }

  @media screen and (min-width: 950px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 1.3em 2em 1.3em 2em;
    }
  
    .responsive {
      display: none;
      
    }
  }

  /* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0d3d4e;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #FFFEF0;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #7F9F7E;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
  background: #587357;
}

