* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
  }

  /* nav styles */

  .nav {
    display: flex;
    height: 4.5em;
    align-items: center;
    justify-content: space-between;
    background-color: #A9C7A8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .nav__link {
    left: 18px;
    width: 100%;
    font-size: 1.2em;
    position: fixed;
    background-color: #A9C7A8;
  }
  
  .nav__link a:hover {
    transition: 10ms;
    color: white;
    background-color: #7F9F7E;
  }
  
  .logo {
    font-size: 2em;
    color: rgb(0, 0, 0);
    padding-left: 60px;
    padding-top: 0.4em;
  }
  
  .hide {
    display: none;
  }

  .selected {
    color: white;
    background-color: #7F9F7E;
  }

  @media screen and (min-width: 950px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 1.3em 2em 1.3em 2em;
    }
  
    .responsive {
      display: none;
      
    }
  }

  /* Centralized & Decentralized CSS*/

  .container-top{
    background-color: #FFFEF0;
    height:120vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
  }

  .container-top .waves{
    position: absolute;
    bottom: 0;
    width: 100%;
   
  }

  .information{
    display: flex;
  }

  .network-pic{
    padding-top: 40px;
    padding-left:20px;
    display: flex;
    justify-content: left;
  }

  .network-verbiage{
    padding: 40px;
    justify-content: right;
    font-family: 'Inter', sans-serif;
  }

  .network-verbiage h1{
    padding-bottom: 20px;
    font-weight: bold;
  }

  .network-verbiage p{
    font-weight:400;
    font-size: small;
  }

  .container-middle{
    background-color: #7F9F7E; 
    height:70vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    
  }

  .dijkstra{
    
    padding-left:70px;
    width: 60%;
    font-family: 'Inter', sans-serif;
    color: #FFFEF0;
  }
  .dijkstra h1{
    padding-bottom: 20px;
  }

  .dijkstra ol li{
    padding-bottom: 2px;
    font-weight:400;
    font-size: small;
  }

  
  .container-bottom{
   
    background-color:#FFFEF0;
   
  }
  




  .container-parent{
    display: flex;
    width:100%;
    height:100vh;
    background-color:#FFFEF0;
   
  }
  



  .network{
    margin: 3% 4% 8% 8%;
    width: 70%;
    height:75vh;
    border-radius: 25px;
    background-color:#7F9F7E;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  }
  .infobox{
    margin: 3% 8% 8% 4%;
    width: 50%;
    height:75vh;
    border-radius: 25px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    
    background-color: #7F9F7E;
  }
  .sourcebox{
    background-color: #D2E2C6;
    height: 50%;
    border-radius: 25px;
    margin: 5% 5% 2% 5%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

    
  }
  .explanation{
    background-color:  #D2E2C6;
    height: 35%;
    border-radius: 25px;
    margin: 3% 5% 2% 5%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    
  }

  .route{
    background-color:#FFFEF0;;
    height: 40%;
    border-radius: 25px;
    margin: 3% 5% 3% 5%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  
  }

  form {
    
    display: grid;
    padding:17px 5px 0px 15px;
  }

  label{
    width: 90px;
    text-align: left;
    font-family: 'Inter', sans-serif;;
    font-size:small;
    font-weight: bold;
    color: #7F9F7E;
  }


  .input{
    
    width: 70%;
    padding: 5px 5px;
    margin: 8px 0;
    
  }

  .heading{
    text-align: center;
    font-family: 'Inter', sans-serif;;
    padding-top:10px;
    font-weight: bold;
    color: #FFFEF0;
  }



  .submit-btn {
    width:130px;
    align-items: right;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 5px 5px;
    position: relative;
    text-align: center;
    
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    
  }
  
  .submit-btn {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #copywrite {
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 1%;
  } 
  