@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #FFFEF0;
    font-family: 'Poppins', sans-serif;
    overflow-x: none;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.wave {
    margin-bottom: -10px;
    transform: scaleX(-1);
    width: 100%;
}
.wave1 {
    width: 100%;
    padding-bottom: 5%;
}


.wave-section {
    background-color: #7F9F7E;
    width: 100%;
    /* padding-top: 5%; */
    padding-bottom: 7%;
}

.cards-section {
    margin-bottom: 10%;
}


.green {
    background-color: #719370;
    width: 25%;
    margin: 20px;
    border-radius: 25px;
    overflow: hidden;
    color: #FFFFF9;
}

.green img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: auto;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.card {
    width: calc(33.33% - 40px);
    margin: 20px;
    width: 25%;
    border-radius: 25px;
    overflow: hidden;
    background-color: #FFFFF9;
}
  
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: auto;
}
  
.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h2 {
    margin-bottom: 10px;
}
  
@media only screen and (max-width: 768px) {
    .card, .green {
        width: 100%;
    }

    .container {
        flex-direction: column;
        margin: auto;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFEF0;
  }
  
  #copywrite {
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 1%;
  } 
 
  .headingMiddle {
    text-align: center;
    font-family: 'Inter', sans-serif;;
    font-weight: bold;
    color: #FFFEF0;
    font-size: 3em;
    padding-bottom: 3%;
  }

  .headingMiddle2 {
    color: #719370;
    text-align: center;
    font-family: 'Inter', sans-serif;;
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 3%;
  }

.buttonTest {
    width: auto;
    height: auto;
    background: #FFFFF9;
    border: 6px solid #658163;
    border-radius: 55px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.3em;
    color : #748A70;
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 20px;
}

.buttonTest:hover {
  border: 6px solid #658163;
  background: #658163;
  color: #FFFEF0;
}

.buttonTest2:hover {
    border: 6px solid #658163;
    background: #658163;
    color: #FFFEF0;

}

.buttonTest2 {
  background: #FFFFF9;
  border: 6px solid #658163;
  color : #748A70;
  width: auto;
  height: auto;
  border-radius: 55px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3em;
  padding: 0.5em 1em 0.5em 1em;
  margin-top: 20px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para {
    padding: 0.5em 2.5em 0.5em 2.5em;
    line-height: 1.8em;
}

h2 {
    padding-top: 1em;
}