  .total {
    background-color :#FFFEF0;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .welcome {
    height : auto;
    width : 60%;
    padding: 8em 5em 0em 12em;
  }

  .picture {
    height : 30em;
    width : 50%;
    padding: 3em 5em 0em 5em;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
  }
  
  .textOne {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 74px;
    line-height: 111px;
    color : #04725C;
  }

.textTwo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 60px;
    color : black;
}

.button {
    width: 300px;
    height: 70px;
    background: #FFFFF9;
    border: 7px solid #658163;
    border-radius: 55px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color : #748A70;
    padding: 1em 1em 1em 1em;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
}

.button:hover {
  border: 7px solid #658163;
  background: #658163;
  color: white;
}

.button1{
  color : #748A70;
}

.button1:hover{
  color: white;
}

.pic {
    height: 26em;
    display: block;
    padding-right: 5em;
    margin-top: 5em;
}

.picT {
  background-color :#FFFEF0;
  padding-top: 4%;
  padding-bottom: 2%;
}
.picTwo {
    height: 3em;
    display: block;
    margin: auto;
    z-index: 1;
    padding-bottom: 1em;
}

.nav__linkT {
  left: 18px;
  width: 100%;
  font-size: 1.2em;
  position: fixed;
  background-color: #A9C7A8;
}

.nav__linkT a:hover {
  transition: 10ms;
  color: white;
  background-color: #7F9F7E;
}

@media screen and (min-width: 950px) {
  .nav__linkT {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__linkT a {
    display: inline-block;
    padding: 1.3em 2em 0.9em 2em;
  }
}

.picTwo {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@media only screen and (max-width: 1300px)  
{
  .pic {
    display: none;
}

.picT {
  display: none;
}
.picTwo {
  display: none;
}
.welcome {
  height : 40%;
  width : 100%;
  padding: 5em 5em 5em 12em;
}
.picture {
  display: none;
}

}
.container-top{
  background-color: #FFFEF0;
  height: 33vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

.container-top .waves{
  position: absolute;
  bottom: 0;
  width: 100%;

}

