.ourmission{
    padding-top: 0.5em;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: bold;
    background-color: #FFFEF0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 14em;
    background-color: #FFFEF0;
  }

.image{
    margin-top: 5em;
    height: 28em;
    width: 195em;
    border-radius: 53px;
    background-color: #FFFEF0; 
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    -ms-border-radius: 53px;
    -o-border-radius: 53px;
}

.statement{
    padding-top: -252px;
    padding-left: 120px;
    padding-right: 10em;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 2.5;
}

.container-top{
    background-color: #FFFEF0;
    height:50vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
  }

.container-top .waves{
    position: absolute;
    bottom: 0;
    width: 100%;

}
