* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
/* Containers*/

.container-top{
    background-color: #FFFEF0;
    height:120vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    padding-top: 1em;
  }

  .container-top .waves{
    position: absolute;
    bottom: 0;
    width: 100%;
   
  }

  .container-middle{
    background-color: #7F9F7E; 
    height:90vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    
  }

  .container-bottom {
    background-color:#FFFEF0;
  }

/* -------------------------------------- */

  .container-parent{
    display: flex;
    width:100%;
    height:100vh;
    background-color:#FFFEF0;
  }

  .network{
    margin: 3% 4% 8% 8%;
    width: 80%;
    height:75vh;
    border-radius: 25px;
    background-color:#7F9F7E;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  }

  .infobox{
    margin: 3% 8% 8% 4%;
    width: 30%;
    height:75vh;
    border-radius: 25px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    background-color: #7F9F7E;
  }

  .sourcebox{
    background-color: #D2E2C6;
    height: 36%;
    border-radius: 25px;
    margin: 4% 5% 2% 5%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; 
  }

  .route{
    background-color:#FFFEF0;;
    height: 53%;
    border-radius: 25px;
    margin: 3% 5% 3% 5%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  }
  
  .block {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 2.5em;
  }

  label{
    font-family: 'Inter', sans-serif;;
    font-size:1.6em;
    font-weight: bold;
    color: #658163;
  }

  input{
    padding: 7px 10px 7px 10px;
    width: 14em;
    border-radius: 2em;
    border: 3px solid #658163;
  }

  .box2 {
    padding: 0em 4em;
  }

  .heading{
    text-align: center;
    font-family: 'Inter', sans-serif;;
    padding-top:30px;
    font-weight: bold;
    color: #FFFEF0;
  }

  .headingtwo{
    text-align: center;
    font-family: 'Inter', sans-serif;;
    padding-top:30px;
    font-size: 1.3em;
    font-weight: bold;
    color: #658163;
  }


  .headingMiddle {
    text-align: center;
    font-family: 'Inter', sans-serif;;
    font-weight: bold;
    color: #FFFEF0;
    font-size: 3em;
  }

  .submit-btn {
    margin-left: 2.5em;
    width: 190px;
    background: #FFFFF9;
    border: 3px solid #658163;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #748A70;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    padding: 10px 10px;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  
}
  
  .submit-btn:hover {
    border: 3px solid #658163;
    background: #658163;
    color: white;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFEF0;
  }
  
  #copywrite {
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 1%;
  } 
 
