* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
/* Containers*/

.container-top{
    background-color: #FFFEF0;
    height:127vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    padding-top: 1em;
  }

  .container-top .waves{
    position: absolute;
    bottom: 0;
    width: 100%;  
  }

  .container-middle{
    background-color: #7F9F7E; 
    height:auto;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    padding-bottom:7.5%;
  }

  .container-bottom {
    background-color:#FFFEF0;
    height:auto;
    padding-bottom: 6%;
  }

/* -------------------------------------- */

  .container-parent{
    display: flex;
    width:100%;
    height:100vh;
    background-color:#FFFEF0;
  }

  .network{
    margin: 3% 4% 8% 8%;
    width: 80%;
    height:78vh;
    padding: 1em;
    border-radius: 25px;
    background-color:#7F9F7E;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  }

  .infobox{
    margin: 3% 8% 8% 4%;
    width: 40%;
    height:81.5vh;
    border-radius: 25px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    background-color: #7F9F7E;
  }

  .sourcebox{
    background-color: #D2E2C6;
    height: auto;
    padding: 1.5em;
    border-radius: 25px;
    margin: 4% 5% 2% 5%;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; 
  }

  .route{
    background-color:#FFFEF0;;
    height: auto;
    border-radius: 25px;
    margin: 3% 5% 3% 5%;
    padding:1.5em;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  }
  
  .block {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 1.3em 2em 2em 2em;
  }

  label{
    font-family: 'Inter', sans-serif;;
    font-size:1.3em;
    font-weight: bold;
    color: #658163;
  }

  input{
    padding: 7px 15px 7px 10px;
    width: 10em;
    border-radius: 2em;
    border: 3px solid #658163;
  }

  .box2 {
    padding: 0em 2em;
  }

  .heading{
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-bottom: 1.5em;
    padding-top:30px;
    font-weight: bold;
    color: #FFFEF0;
  }

  .headingtwo{
    text-align: center;
    font-family: 'Inter', sans-serif;;
    font-size: 1.5em;
    font-weight: bold;
    color: #658163;
    padding-bottom: 01em;
  } 

  .headingthree{
    text-align: center;
    font-family: 'Inter', sans-serif;;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
    color: #658163;
  }

  .headingMiddle {
    text-align: center;
    font-family: 'Inter', sans-serif;;
    font-weight: bold;
    color: #FFFEF0;
    font-size: 3.5em;
    padding-bottom: 0.5%;
  }

  .size {
    text-align: center;
    font-family: 'Inter', sans-serif;;
    font-weight: bold;
    color: #FFFEF0;
    font-size: 1.5em;
    padding: 1.5%;
  }

  .submit-btn {
    width: 10em;
    background: #FFFFF9;
    border: 3px solid #658163;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #748A70;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}
  

  .submit-btn:hover {
    border: 3px solid #658163;
    background: #658163;
    color: #FFFEF0;
  }

  .decentralized-image {
    margin: auto;
    caret-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFEF0;
  }
  
  #copywrite {
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 1%;
  } 
 
.cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  /* margin-left: auto; */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.only {
  padding-right: 0.9em;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #7F9F7E;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* .reasoning{
  text-align: center;
 } */


 /* Style for the table */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto; /* Added to center the table horizontally */
}

th, td {
  text-align: center; /* Added to center the text in the cells */
  padding: 8px;
  border-bottom: 1px solid #ddd;
  
}

th {
  background-color: #D2E2C6;
  color: #444;
  font-weight: bold;
}

/* Style for the div container */
#table-div {
  margin-top: 20px;
  margin: auto;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 30%;
  background-color: #FFFEF0;
  text-align: center; /* Added to center the table container */
}


.headingEnd {
  text-align: center;
  font-family: 'Inter', sans-serif;;
  font-weight: bold;
  color: #658163;
  font-size: 2.5em;
  padding-top: 3%;
  padding-bottom: 2%;
}


.end{
  display:flex;
}

.distanceVector{ 
  padding-left:70px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  color: #658163;
}
.distanceVector h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
}

.distanceVector_cards{
  display: inline;
}

#distanceVector_cards1{
  display:flex;
  justify-content: center;
}

#distanceVector_cards1 img{
  width:15%;
  height:20%;
  
}
#distanceVector_cards2{
  display: flex;
  justify-content: center;
}

#distanceVector_cards2 img{
  width:15%;
  height:20%;
}


.space {
  color: #7F9F7E;
}

.words{
  text-align: center;
  font-family: 'Inter', sans-serif;
  color: #748A70;
  font-size: 18px;
  font-weight: bold;
}